<h2>Add new Client</h2>
<hr />

@if (@Model.Count == 0)
{
  <p>Please make sure there are stylists before attempting to add a new client.</p>
}
else
{

<form action="/clients" method="post">
  <label for="client-name">Name</label>
  <input type="text" name="client-name">

  <select name="client-stylist">
    @foreach (var stylist in @Model)
    {
      <option value="@stylist.GetId()">@stylist.GetName()</option>
    }
  </select>

  <button type="submit">Add new Client</button>
</form>
}
<p><a href="/">Return to Home</a></p
