<h1>Add a Professional Stylist</h1>
<hr />

<form action="/stylists" method="post">
  <label for="stylist-name">Name</label>
  <input type="text" name="stylist-name">
  <button type="submit">Add</button>
</form>

<p><a href="/">Return to home</a></p>
